body {
    background-color: black;
    padding:20px;
    margin: 0 auto;
    padding: 20px;
    zoom: 0.8;
}

.main-logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

#personal-best {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    color: aliceblue;
}

#tick {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: aliceblue;
}

#tick p {
    margin: 5px 0;   /* reduces spacing */
}

#tick h1 {
    margin-bottom: 5px; /* optional fine-tuning */
}

#pattern-star-2 {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 150px;
    margin-top: 150px;
}

#boxes {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: aliceblue;
}

#boxes p {
    border-radius: 5px;  /* Makes the corners round */
    border: 1px solid white;
    margin-left: 10px;
    padding: 20px;
}

#pattern-star-1 {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 80% ;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#beat-this-score {
    padding: 20px;
}


@media (max-width: 768px) {

    .main-logo {
        flex-direction: column;
        gap: 20px;
    }

    #personal-best {
        margin-right: 0;
    }

     #boxes{
        flex-direction:column;
        width:100%;
    }

    #boxes p{
        max-width:300px;
        width:90%;
    }
}

@media (max-width: 600px) {
     #pattern-star-1{
        display:none;
    }

     #pattern-star-2{
        display:none;
    }
}
