body {
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    zoom: 0.8;
}

.main-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

#personal-best {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

#new-pb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: aliceblue;
}
#new-pb p {
    margin: 5px 0;   /* reduces spacing */
}

#new-pb h1 {
    margin-bottom: 5px; /* optional fine-tuning */
}


#boxes {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: aliceblue;
}

#boxes p {
    border-radius: 5px;  /* Makes the corners round */
    border: 1px solid white;
    margin-left: 10px;
    padding: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#beat-this-score {
    padding: 20px;
}

#pattern-confetti {
    margin-top: 10px;
}

@media (max-width: 768px) {

    .main-logo {
        flex-direction: column;
        gap: 20px;
    }

    #personal-best {
        margin-right: 0;
    }

    #boxes {
        flex-direction: column;
    }

    #boxes p {
        width: 90%;
        max-width: 300px;
        margin-left: 0;
    }

    #new-pb {
        margin-top: 50px;
    }

    #pattern-confetti img {
        width: 100%;
        height: auto;
    }
}