body {
  background-color: black;
}

.main-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

#personal-best {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

#wpm-display {
  display:inline-flex;
  position: relative;
  color: white;
  gap: 30px;
  margin-left: 50px;
  margin-top: 50px;
}
#difficultyAndMode {
  display:flex;
  position: relative;
  margin-left: 200px;
  gap: 30px;
}

.divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 0px;
  align-self: stretch; /* Ensures it spans the container height */
  margin-top: 10px;
}

#button {
  display: flex;
  position: relative;
  gap: 5px;
  height: 20px;
  margin-top: 16px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  
}
#button button {
  background-color: transparent;
  color: white;

}

#modeButton {
  display: flex;
  position: relative;
  gap: 5px;
  height: 20px;
  margin-top: 16px;
  border-radius: 10px;
}

#modeButton button {
  background-color: transparent;
  color: white;
}

#modeButton p {
  margin-bottom: 100px;
}

#textToType {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
  color: white;
}
#startButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue;
  border-radius: 10px ;
  color: white;
}

#text {
  color: white;
  filter: blur(5px);
  font-size: 24px;
}

#display-text {
  color: white;
  font-size: 24px;
   filter: blur(5px);
}

#Timer {
  display:flex;
  position: relative;
  font-size: 16;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.pending {
  color: gray;
}

@media (max-width: 768px) {

    #main-logo {
        flex-direction: column;
        gap: 20px;
    }

    #personal-best {
        margin-right: 0;
    }
    #wpm-display p {
       width: 50px;
       height: 50px;
       border: solid 1px white;
       border-radius: 5px;
      flex-direction: column;
    }

    #Mode {
      display: none;
    }

    #difficultyAndMode p {
      display: none;
    }
}
